@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #2e2e2e; /* Your dark theme background */
  font-family: system-ui, -apple-system, sans-serif;
}